.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.70)), url(../../images/welcomeImg.jpg) center center no-repeat ;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .heroTitle{
        font-size: 2rem;
        font-style: italic;
        margin-bottom: 0;
    }
    .heroName{
        font-size: 7rem;
        font-weight: bold;
        text-shadow: 8px 8px 10px black;
        float: left;
    }
    .heroSubtitle{
        font-size: 3rem;
        font-weight: 200;
        position: relative;
        width: 15ch;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        animation: typing 2s steps(17) alternate,
            blink 0.4s step-end infinite alternate;
        animation-delay: 3s;
        text-shadow: 0px 0px 3px black;
        }

        @keyframes typing {
        from {
            width: 0;
        }
        }
    
        @keyframes blink {
        50% {
            border-color: transparent;
        }
        }

        

        // &:before{
        //     content:'';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     height: 100%;
        //     width: 100%;
        //     background-color: red;
        //     border-left: 2px solid #eee;
        //     animation: subtitleAnimation steps(17) 3000ms infinite;
        // }
        
    // }

    // @keyframes subtitleAnimation {
    //     40%{
    //         left: 100%;
    //     } 
    //     60% {
    //         left: 100%;
    //     }
    //     100% {
    //         left: 0%;
    //     }
    // }
    
    @media (max-width: 990px) {
        .heroTitle{
            font-size: 1.5rem;
        }
        .heroName{
            font-size: 5rem;
        }
        .heroSubtitle{
            font-size: 2rem;
        }
    }
    // @media (max-width: 767px) {
        // h1 {
        //     font-size: 4vw;
        // }
        // .typing-text {
        //     font-size: 8vw;
        // }
}