.footerContainer{
    background-color: rgb(29, 29, 29);
    height: 10vh;
    p{
        margin: 0;
        padding-right: 50px;
        border-right: 1px solid #fff;
        font-style: italic;
    }
    .contactIcons{
        padding-left: 50px;
        font-size: 2rem;
        line-height: 2rem;
        .contactIcon{
            margin-right: 40px;
            &:hover *{
                color: #75f4b6;
            }
        }
    }
    .whatsappBtn{
        height: auto;
        z-index: 5;
        position: fixed;
        bottom: 30px;
        right: 30px;
        .whatsappIcon{ 
        width: 4rem;
            &:hover{
                transform: rotate(360deg);
                transition: .3s;
            }
        }
    }
}