@keyframes letter-animation {
    0% {
        stroke-dashoffset: 500;
    }
    100% {
        stroke-dashoffset: 0;
    }
    }
:root{
    --delay: .5s;
}
#signature{
    width: 10rem;
    height: fit-content;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    stroke-dasharray: 500px;
    stroke-dashoffset: 500px;
    transform: rotate(-15deg);
    display: none;
}

#a-1{
    animation: letter-animation .8s linear forwards;  
    animation-delay: calc(var(--delay)*5);    
}

#a-2{
    animation: letter-animation .8s linear forwards;
    animation-delay: calc(var(--delay)*7);
}

#b{
    animation: letter-animation 1s linear forwards;
    animation-delay: calc(var(--delay)*8);
}

#r{
    animation: letter-animation .8s linear forwards;
    animation-delay: calc(var(--delay)*9 + .1s);
}

#i{
    animation: letter-animation 1s linear forwards;
    animation-delay: calc(var(--delay)*10);
}

#l{
    animation: letter-animation 1s linear forwards;
    animation-delay: calc(var(--delay)*10 + .3s);
}

#heart{
    animation: letter-animation 1s linear forwards;
    animation-delay: calc(var(--delay)*11 + .3s);
}